/.vscode
/.vs
/build*
/figures
/out
/results
/tmp
/venv
/video
/*.json
*.msgpack
*.training
__pycache__
.DS_Store
imgui.ini
data/nerf/lambda/*/*/*.jpg
data/nerf/lambda/*/*.json
data/nerf/lambda/*/*.mp4
data/nerf/lambda/*/*.MOV
colmap*
.venv*
